 <form action="/auth/login" method="POST">
    <h2>Alta Usuarios</h2>
    <label>User</label>
    <input type="text" name="email"  required>
    <label>Password</label>
    <input type="password" name="password" required>
    <select name="role" required>
        <option>Que tipo de rol es el alta</option>
        <option value="DOCTOR">Doctor</option>
        <option value="RECEPCIONISTA">RECEPCIONISTA</option>
    </select>
    <input type="submit" value="Alta">
    <p class="msg">{{msg}}</p>
    <p class="err">{{err}}</p>
  </form>