<script>
    
</script>
<div class="container">
    
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar Doctor</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del Médico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="doctor-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" name="doctor_name">
          </div>
          <div class="form-group">
            <label for="doctor-cedula" class="col-form-label">Cedula Profesional:</label>
            <input type="text" class="form-control" name="doctor_cedula">
          </div>
          <div class="form-group">
            <label for="doctor-especialidad" class="col-form-label">Especialidad:</label>
            <input type="text" class="form-control" name="doctor_especialidad">
          </div>
          <div class="form-group">
            <label for="doctor-email" class="col-form-label">Correo electrónico:</label>
            <input type="text" class="form-control" name="doctor_email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnGuardarDoctor" onclick="GuardarDoctor()">Guardar</button>
      </div>
    </div>
  </div>
</div>

  <script>
      
$('#exampleModal').on('show.bs.modal', function (event) {
    console.log('algo')
  var button = $(event.relatedTarget) // Button that triggered the modal
  console.log(button)
})

  </script>